### Import of datasets

In [1]:
import pandas as pd
import os

In [2]:
path = "/Users/tgumpp/Downloads/80bf4d53f037d118e55a9a9520c5c0b6"

# Check if the path exists
if os.path.exists(path):
    print("Path exists.")

    # Check if it's a file or directory
    if os.path.isfile(path):
        print("It's a file.")
    elif os.path.isdir(path):
        print("It's a directory.")
    else:
        print("It's neither a file nor a directory.")
else:
    print("Path does not exist.")

Path exists.
It's a directory.

In [3]:
os.chdir(path)
os.getcwd()

'/Users/tgumpp/Downloads/80bf4d53f037d118e55a9a9520c5c0b6'

Import the original dataset from Pamplemousse.

In [4]:
df = pd.read_excel("fifa18_clean.xlsx")

In [5]:
df

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,1000,50000,A. Kelsey,17,https://cdn.sofifa.org/48/18/players/237463.png,England,https://cdn.sofifa.org/flags/14.png,46,63,Scunthorpe United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,1000,0,B. Richardson,47,https://cdn.sofifa.org/48/18/players/11728.png,England,https://cdn.sofifa.org/flags/14.png,46,46,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,1000,60000,J. Young,17,https://cdn.sofifa.org/48/18/players/231381.png,Scotland,https://cdn.sofifa.org/flags/42.png,46,61,Swindon Town,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,1000,60000,J. Lundstram,18,https://cdn.sofifa.org/48/18/players/238813.png,England,https://cdn.sofifa.org/flags/14.png,46,64,Crewe Alexandra,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,1000,50000,L. Sackey,18,https://cdn.sofifa.org/48/18/players/238308.png,Ghana,https://cdn.sofifa.org/flags/117.png,46,64,Scunthorpe United,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 74 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Wage (€)             17981 non-null  int64
 1   Value (€)            17981 non-null  int64
 2   Name                 17981 non-null  object
 3   Age                  17981 non-null  int64
 4   Photo                17981 non-null  object
 5   Nationality          17981 non-null  object
 6   Flag                 17981 non-null  object
 7   Overall              17981 non-null  int64
 8   Potential            17981 non-null  int64
 9   Club                 17733 non-null  object
 10  Club Logo            17981 non-null  object
 11  Special              17981 non-null  int64
 12  Acceleration         17897 non-null  float64
 13  Aggression           17913 non-null  float64
 14  Agility              17910 non-null  float64
 15  Balance              17924 non-null  float64
 16  Ball control         17840 non-null  float64
 17  Composure            17887 non-null  float64
 18  Crossing             17885 non-null  float64
 19  Curve                17908 non-null  float64
 20  Dribbling            17850 non-null  float64
 21  Finishing            17867 non-null  float64
 22  Free kick accuracy   17932 non-null  float64
 23  GK diving            17955 non-null  float64
 24  GK handling          17954 non-null  float64
 25  GK kicking           17962 non-null  float64
 26  GK positioning       17955 non-null  float64
 27  GK reflexes          17952 non-null  float64
 28  Heading accuracy     17906 non-null  float64
 29  Interceptions        17881 non-null  float64
 30  Jumping              17911 non-null  float64
 31  Long passing         17860 non-null  float64
 32  Long shots           17898 non-null  float64
 33  Marking              17869 non-null  float64
 34  Penalties            17951 non-null  float64
 35  Positioning          17886 non-null  float64
 36  Reactions            17866 non-null  float64
 37  Short passing        17832 non-null  float64
 38  Shot power           17908 non-null  float64
 39  Sliding tackle       17886 non-null  float64
 40  Sprint speed         17867 non-null  float64
 41  Stamina              17873 non-null  float64
 42  Standing tackle      17857 non-null  float64
 43  Strength             17877 non-null  float64
 44  Vision               17874 non-null  float64
 45  Volleys              17940 non-null  float64
 46  CAM                  15952 non-null  float64
 47  CB                   15952 non-null  float64
 48  CDM                  15952 non-null  float64
 49  CF                   15952 non-null  float64
 50  CM                   15952 non-null  float64
 51  ID                   17981 non-null  int64
 52  LAM                  15952 non-null  float64
 53  LB                   15952 non-null  float64
 54  LCB                  15952 non-null  float64
 55  LCM                  15952 non-null  float64
 56  LDM                  15952 non-null  float64
 57  LF                   15952 non-null  float64
 58  LM                   15952 non-null  float64
 59  LS                   15952 non-null  float64
 60  LW                   15952 non-null  float64
 61  LWB                  15952 non-null  float64
 62  Preferred Positions  17981 non-null  object
 63  RAM                  15952 non-null  float64
 64  RB                   15952 non-null  float64
 65  RCB                  15952 non-null  float64
 66  RCM                  15952 non-null  float64
 67  RDM                  15952 non-null  float64
 68  RF                   15952 non-null  float64
 69  RM                   15952 non-null  float64
 70  RS                   15952 non-null  float64
 71  RW                   15952 non-null  float64
 72  RWB                  15952 non-null  float64
 73  ST                   15952 non-null  float64
dtypes: float64(60), int64(7), object(7)
memory usage: 10.2+ MB

Import the augmented df from __[Kaggle](https://www.kaggle.com/datasets/kevinmh/fifa-18-more-complete-player-dataset?resource=download)__. The motivation for this step is found in the report.

In [8]:
df1 = pd.read_csv("complete.csv")
df1

,ID,name,full_name,club,club_logo,special,age,league,birth_date,height_cm,...,prefers_cb,prefers_lb,prefers_lwb,prefers_ls,prefers_lf,prefers_lam,prefers_lcm,prefers_ldm,prefers_lcb,prefers_gk
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,https://cdn.sofifa.org/18/teams/243.png,2228,32,Spanish Primera División,1985-02-05,185.0,...,False,False,False,False,False,False,False,False,False,False
1,158023,L. Messi,Lionel Messi,FC Barcelona,https://cdn.sofifa.org/18/teams/241.png,2158,30,Spanish Primera División,1987-06-24,170.0,...,False,False,False,False,False,False,False,False,False,False
2,190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,https://cdn.sofifa.org/18/teams/73.png,2100,25,French Ligue 1,1992-02-05,175.0,...,False,False,False,False,False,False,False,False,False,False
3,176580,L. Suárez,Luis Suárez,FC Barcelona,https://cdn.sofifa.org/18/teams/241.png,2291,30,Spanish Primera División,1987-01-24,182.0,...,False,False,False,False,False,False,False,False,False,False
4,167495,M. Neuer,Manuel Neuer,FC Bayern Munich,https://cdn.sofifa.org/18/teams/21.png,1493,31,German Bundesliga,1986-03-27,193.0,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17989,237463,A. Kelsey,Adam Kelsey,Scunthorpe United,https://cdn.sofifa.org/18/teams/1949.png,755,17,English League One,1999-11-12,188.0,...,False,False,False,False,False,False,False,False,False,True
17990,11728,B. Richardson,Barry Richardson,Wycombe Wanderers,https://cdn.sofifa.org/18/teams/1933.png,832,47,English League Two,1969-08-05,185.0,...,False,False,False,False,False,False,False,False,False,True
17991,231381,J. Young,Jordan Young,Swindon Town,https://cdn.sofifa.org/18/teams/1934.png,1194,17,English League Two,1999-07-31,175.0,...,False,False,False,False,False,False,False,False,False,False
17992,238813,J. Lundstram,Josh Lundstram,Crewe Alexandra,https://cdn.sofifa.org/18/teams/121.png,1302,18,English League Two,1999-02-19,176.0,...,False,False,False,False,False,False,False,False,False,False
17993,238308,L. Sackey,Leslie Sackey,Scunthorpe United,https://cdn.sofifa.org/18/teams/1949.png,1031,18,English League One,1998-11-29,182.0,...,True,False,False,False,False,False,False,False,False,False

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17994 entries, 0 to 17993
Columns: 185 entries, ID to prefers_gk
dtypes: bool(92), float64(32), int64(48), object(13)
memory usage: 14.3+ MB

In [11]:
df1.columns

Index(['ID', 'name', 'full_name', 'club', 'club_logo', 'special', 'age',
       'league', 'birth_date', 'height_cm',
       ...
       'prefers_cb', 'prefers_lb', 'prefers_lwb', 'prefers_ls', 'prefers_lf',
       'prefers_lam', 'prefers_lcm', 'prefers_ldm', 'prefers_lcb',
       'prefers_gk'],
      dtype='object', length=185)

In [12]:
df2 = df1[['league', 'birth_date', 'height_cm', 'weight_kg', 'eur_release_clause', 'weak_foot', 'preferred_foot', 'photo']]

In [26]:
df2.to_csv('fifa18_to-merge.csv')

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17994 entries, 0 to 17993
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   league              17741 non-null  object
 1   birth_date          17994 non-null  object
 2   height_cm           17994 non-null  float64
 3   weight_kg           17994 non-null  float64
 4   eur_release_clause  16500 non-null  float64
 5   weak_foot           17994 non-null  int64
 6   preferred_foot      17994 non-null  object
 7   photo               17994 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 1.1+ MB

### Preprocessing
We slightly preprocess the dataframes to allow to merge them

In [14]:
df2 = df2.rename(columns={'photo': 'Photo'})

In [25]:
df.head()

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2.head()

,league,birth_date,height_cm,weight_kg,eur_release_clause,weak_foot,preferred_foot,Photo
0,Spanish Primera División,1985-02-05,185.0,80.0,195800000.0,4,Right,https://cdn.sofifa.org/18/players/20801.png
1,Spanish Primera División,1987-06-24,170.0,72.0,215300000.0,4,Left,https://cdn.sofifa.org/18/players/158023.png
2,French Ligue 1,1992-02-05,175.0,68.0,236800000.0,5,Right,https://cdn.sofifa.org/18/players/190871.png
3,Spanish Primera División,1987-01-24,182.0,86.0,198900000.0,4,Right,https://cdn.sofifa.org/18/players/176580.png
4,German Bundesliga,1986-03-27,193.0,92.0,100700000.0,4,Right,https://cdn.sofifa.org/18/players/167495.png

In [16]:
def insert_48(column_value):
    return column_value.replace('cdn.sofifa.org/18/', 'cdn.sofifa.org/48/18/')

# Apply the function to every entry in the column
df2['Photo'] = df2['Photo'].apply(insert_48)

In [17]:
df2.head()

,league,birth_date,height_cm,weight_kg,eur_release_clause,weak_foot,preferred_foot,Photo
0,Spanish Primera División,1985-02-05,185.0,80.0,195800000.0,4,Right,https://cdn.sofifa.org/48/18/players/20801.png
1,Spanish Primera División,1987-06-24,170.0,72.0,215300000.0,4,Left,https://cdn.sofifa.org/48/18/players/158023.png
2,French Ligue 1,1992-02-05,175.0,68.0,236800000.0,5,Right,https://cdn.sofifa.org/48/18/players/190871.png
3,Spanish Primera División,1987-01-24,182.0,86.0,198900000.0,4,Right,https://cdn.sofifa.org/48/18/players/176580.png
4,German Bundesliga,1986-03-27,193.0,92.0,100700000.0,4,Right,https://cdn.sofifa.org/48/18/players/167495.png

### Merging

In [18]:
merged_df = pd.merge(df, df2, on='Photo', how='inner')

In [19]:
merged_df

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RW,RWB,ST,league,birth_date,height_cm,weight_kg,eur_release_clause,weak_foot,preferred_foot
0,565000,95500000,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,...,91.0,66.0,92.0,Spanish Primera División,1985-02-05,185.0,80.0,195800000.0,4,Right
1,565000,105000000,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,...,91.0,62.0,88.0,Spanish Primera División,1987-06-24,170.0,72.0,215300000.0,4,Left
2,280000,123000000,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,...,89.0,64.0,84.0,French Ligue 1,1992-02-05,175.0,68.0,236800000.0,5,Right
3,510000,97000000,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,...,87.0,68.0,88.0,Spanish Primera División,1987-01-24,182.0,86.0,198900000.0,4,Right
4,230000,61000000,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,...,NaN,NaN,NaN,German Bundesliga,1986-03-27,193.0,92.0,100700000.0,4,Right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17734,1000,50000,A. Kelsey,17,https://cdn.sofifa.org/48/18/players/237463.png,England,https://cdn.sofifa.org/flags/14.png,46,63,Scunthorpe United,...,NaN,NaN,NaN,English League One,1999-11-12,188.0,74.0,119000.0,2,Right
17735,1000,0,B. Richardson,47,https://cdn.sofifa.org/48/18/players/11728.png,England,https://cdn.sofifa.org/flags/14.png,46,46,Wycombe Wanderers,...,NaN,NaN,NaN,English League Two,1969-08-05,185.0,77.0,NaN,2,Right
17736,1000,60000,J. Young,17,https://cdn.sofifa.org/48/18/players/231381.png,Scotland,https://cdn.sofifa.org/flags/42.png,46,61,Swindon Town,...,44.0,32.0,45.0,English League Two,1999-07-31,175.0,71.0,143000.0,2,Left
17737,1000,60000,J. Lundstram,18,https://cdn.sofifa.org/48/18/players/238813.png,England,https://cdn.sofifa.org/flags/14.png,46,64,Crewe Alexandra,...,44.0,46.0,41.0,English League Two,1999-02-19,176.0,61.0,143000.0,2,Right
17738,1000,50000,L. Sackey,18,https://cdn.sofifa.org/48/18/players/238308.png,Ghana,https://cdn.sofifa.org/flags/117.png,46,64,Scunthorpe United,...,29.0,38.0,31.0,English League One,1998-11-29,182.0,72.0,119000.0,3,Left

In [20]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17739 entries, 0 to 17738
Data columns (total 81 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Wage (€)             17739 non-null  int64
 1   Value (€)            17739 non-null  int64
 2   Name                 17739 non-null  object
 3   Age                  17739 non-null  int64
 4   Photo                17739 non-null  object
 5   Nationality          17739 non-null  object
 6   Flag                 17739 non-null  object
 7   Overall              17739 non-null  int64
 8   Potential            17739 non-null  int64
 9   Club                 17522 non-null  object
 10  Club Logo            17739 non-null  object
 11  Special              17739 non-null  int64
 12  Acceleration         17655 non-null  float64
 13  Aggression           17672 non-null  float64
 14  Agility              17669 non-null  float64
 15  Balance              17683 non-null  float64
 16  Ball control         17602 non-null  float64
 17  Composure            17647 non-null  float64
 18  Crossing             17643 non-null  float64
 19  Curve                17666 non-null  float64
 20  Dribbling            17613 non-null  float64
 21  Finishing            17629 non-null  float64
 22  Free kick accuracy   17690 non-null  float64
 23  GK diving            17713 non-null  float64
 24  GK handling          17712 non-null  float64
 25  GK kicking           17720 non-null  float64
 26  GK positioning       17713 non-null  float64
 27  GK reflexes          17710 non-null  float64
 28  Heading accuracy     17665 non-null  float64
 29  Interceptions        17641 non-null  float64
 30  Jumping              17670 non-null  float64
 31  Long passing         17619 non-null  float64
 32  Long shots           17658 non-null  float64
 33  Marking              17628 non-null  float64
 34  Penalties            17709 non-null  float64
 35  Positioning          17645 non-null  float64
 36  Reactions            17625 non-null  float64
 37  Short passing        17593 non-null  float64
 38  Shot power           17667 non-null  float64
 39  Sliding tackle       17645 non-null  float64
 40  Sprint speed         17625 non-null  float64
 41  Stamina              17634 non-null  float64
 42  Standing tackle      17616 non-null  float64
 43  Strength             17637 non-null  float64
 44  Vision               17632 non-null  float64
 45  Volleys              17699 non-null  float64
 46  CAM                  15742 non-null  float64
 47  CB                   15742 non-null  float64
 48  CDM                  15742 non-null  float64
 49  CF                   15742 non-null  float64
 50  CM                   15742 non-null  float64
 51  ID                   17739 non-null  int64
 52  LAM                  15742 non-null  float64
 53  LB                   15742 non-null  float64
 54  LCB                  15742 non-null  float64
 55  LCM                  15742 non-null  float64
 56  LDM                  15742 non-null  float64
 57  LF                   15742 non-null  float64
 58  LM                   15742 non-null  float64
 59  LS                   15742 non-null  float64
 60  LW                   15742 non-null  float64
 61  LWB                  15742 non-null  float64
 62  Preferred Positions  17739 non-null  object
 63  RAM                  15742 non-null  float64
 64  RB                   15742 non-null  float64
 65  RCB                  15742 non-null  float64
 66  RCM                  15742 non-null  float64
 67  RDM                  15742 non-null  float64
 68  RF                   15742 non-null  float64
 69  RM                   15742 non-null  float64
 70  RS                   15742 non-null  float64
 71  RW                   15742 non-null  float64
 72  RWB                  15742 non-null  float64
 73  ST                   15742 non-null  float64
 74  league               17522 non-null  object
 75  birth_date           17739 non-null  object
 76  height_cm            17739 non-null  float64
 77  weight_kg            17739 non-null  float64
 78  eur_release_clause   16287 non-null  float64
 79  weak_foot            17739 non-null  int64
 80  preferred_foot       17739 non-null  object
dtypes: float64(63), int64(8), object(10)
memory usage: 11.1+ MB

In [47]:
merged_df.to_csv('fifa18_merged.csv')

### Analysis of the unmerged columns
We find that the dimensions of the original df and the merged one differ, hence we here investigate this difference

In [24]:
df_test = pd.merge(df,df2,on = ['Photo'], how="outer", indicator=True)
df_test = df_test[df_test['_merge'] == 'left_only']
df_test

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RWB,ST,league,birth_date,height_cm,weight_kg,eur_release_clause,weak_foot,preferred_foot,_merge
853,1000.0,4200000.0,G. Gillet,33.0,https://cdn.sofifa.org/48/18/players/163186.png,Belgium,https://cdn.sofifa.org/flags/7.png,78.0,78.0,Olympiakos CFP,...,76.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
854,25000.0,5500000.0,L. López,34.0,https://cdn.sofifa.org/48/18/players/142707.png,Argentina,https://cdn.sofifa.org/flags/52.png,78.0,78.0,Racing Club de Avellaneda,...,62.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
856,120000.0,7000000.0,T. Vermaelen,31.0,https://cdn.sofifa.org/48/18/players/157304.png,Belgium,https://cdn.sofifa.org/flags/7.png,78.0,78.0,FC Barcelona,...,70.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
857,80000.0,7500000.0,I. Abate,30.0,https://cdn.sofifa.org/48/18/players/168312.png,Italy,https://cdn.sofifa.org/flags/27.png,78.0,78.0,Milan,...,78.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
858,30000.0,9500000.0,J. Briand,31.0,https://cdn.sofifa.org/48/18/players/134779.png,France,https://cdn.sofifa.org/flags/18.png,78.0,78.0,En Avant de Guingamp,...,63.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17950,1000.0,60000.0,D. Amos,17.0,https://cdn.sofifa.org/48/18/players/235994.png,England,https://cdn.sofifa.org/flags/14.png,48.0,74.0,Doncaster Rovers,...,48.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17953,1000.0,60000.0,K. Cotter,18.0,https://cdn.sofifa.org/48/18/players/238833.png,England,https://cdn.sofifa.org/flags/14.png,48.0,67.0,Luton Town,...,48.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17960,1000.0,70000.0,L. Kiely,18.0,https://cdn.sofifa.org/48/18/players/236597.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47.0,69.0,Shamrock Rovers,...,41.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17961,5000.0,60000.0,J. Latibeaudiere,17.0,https://cdn.sofifa.org/48/18/players/233047.png,England,https://cdn.sofifa.org/flags/14.png,47.0,73.0,Manchester City,...,43.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17962,1000.0,50000.0,J. Payne,18.0,https://cdn.sofifa.org/48/18/players/236425.png,England,https://cdn.sofifa.org/flags/14.png,47.0,63.0,Barnet,...,45.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [36]:
df_test.Nationality.value_counts()

England                47
Korea Republic         14
Spain                  14
Argentina              13
France                 11
Belgium                10
Scotland                9
Republic of Ireland     9
South Africa            8
Saudi Arabia            8
Ecuador                 7
Brazil                  6
Bolivia                 6
Switzerland             5
Italy                   5
Netherlands             4
Portugal                4
Poland                  4
Australia               4
Ghana                   4
Peru                    4
Denmark                 3
Austria                 3
Norway                  3
Turkey                  3
Ivory Coast             3
Germany                 3
Greece                  2
Czech Republic          2
Chile                   2
Colombia                2
Senegal                 2
United States           1
Northern Ireland        1
Zimbabwe                1
Canada                  1
Brunei Darussalam       1
Congo                   1
Antigua & Barbuda       1
Paraguay                1
Morocco                 1
DR Congo                1
Iraq                    1
New Zealand             1
Syria                   1
Guinea Bissau           1
China PR                1
Croatia                 1
Latvia                  1
Finland                 1
Name: Nationality, dtype: int64

In [39]:
df_test.Overall.value_counts()

55.0    23
78.0    22
62.0    13
53.0    13
54.0    13
56.0    13
60.0    13
61.0    12
66.0    11
63.0    11
52.0     8
48.0     7
64.0     7
69.0     7
58.0     7
57.0     6
67.0     6
51.0     6
74.0     5
70.0     5
59.0     5
50.0     4
68.0     4
73.0     4
65.0     4
71.0     3
49.0     3
47.0     3
72.0     2
75.0     2
Name: Overall, dtype: int64

In [26]:
df

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,1000,50000,A. Kelsey,17,https://cdn.sofifa.org/48/18/players/237463.png,England,https://cdn.sofifa.org/flags/14.png,46,63,Scunthorpe United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,1000,0,B. Richardson,47,https://cdn.sofifa.org/48/18/players/11728.png,England,https://cdn.sofifa.org/flags/14.png,46,46,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,1000,60000,J. Young,17,https://cdn.sofifa.org/48/18/players/231381.png,Scotland,https://cdn.sofifa.org/flags/42.png,46,61,Swindon Town,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,1000,60000,J. Lundstram,18,https://cdn.sofifa.org/48/18/players/238813.png,England,https://cdn.sofifa.org/flags/14.png,46,64,Crewe Alexandra,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,1000,50000,L. Sackey,18,https://cdn.sofifa.org/48/18/players/238308.png,Ghana,https://cdn.sofifa.org/flags/117.png,46,64,Scunthorpe United,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [29]:
df1.head(1)

,ID,name,full_name,club,club_logo,special,age,league,birth_date,height_cm,...,prefers_cb,prefers_lb,prefers_lwb,prefers_ls,prefers_lf,prefers_lam,prefers_lcm,prefers_ldm,prefers_lcb,prefers_gk
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,https://cdn.sofifa.org/18/teams/243.png,2228,32,Spanish Primera División,1985-02-05,185.0,...,False,False,False,False,False,False,False,False,False,False

In [32]:
df.head(1)

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0

In [30]:
df[df['Name'] == "Bruno Alves"]

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
812,38000,2400000,Bruno Alves,35,https://cdn.sofifa.org/48/18/players/138110.png,Portugal,https://cdn.sofifa.org/flags/38.png,78,78,Rangers,...,69.0,77.0,68.0,73.0,65.0,65.0,68.0,65.0,69.0,68.0

In [31]:
df1[df1['name'] == "Bruno Alves"]

Empty DataFrame
Columns: [ID, name, full_name, club, club_logo, special, age, league, birth_date, height_cm, weight_kg, body_type, real_face, flag, nationality, photo, eur_value, eur_wage, eur_release_clause, overall, potential, pac, sho, pas, dri, def, phy, international_reputation, skill_moves, weak_foot, work_rate_att, work_rate_def, preferred_foot, crossing, finishing, heading_accuracy, short_passing, volleys, dribbling, curve, free_kick_accuracy, long_passing, ball_control, acceleration, sprint_speed, agility, reactions, balance, shot_power, jumping, stamina, strength, long_shots, aggression, interceptions, positioning, vision, penalties, composure, marking, standing_tackle, sliding_tackle, gk_diving, gk_handling, gk_kicking, gk_positioning, gk_reflexes, rs, rw, rf, ram, rcm, rm, rdm, rcb, rb, rwb, st, lw, cf, cam, cm, lm, cdm, cb, lb, lwb, ls, lf, lam, lcm, ldm, lcb, gk, 1_on_1_rush_trait, acrobatic_clearance_trait, argues_with_officials_trait, avoids_using_weaker_foot_trait, backs_into_player_trait, bicycle_kicks_trait, ...]
Index: []

[0 rows x 185 columns]